# Ignore virtual environments
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore data files
data/
raw_data/
processed_data/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
